@media (min-width: 100vw) {

    /* when width bigger */
    .bottom-control-div,
    .grid_area {
        width: 75vh;
    }
}

@media (max-width: 100vh) {

    /* when height bigger */
    .bottom-control-div,
    .grid_area {
        width: 75vw;
    }
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgb(40, 40, 40);
}

.main {
    width: 100%;
    height: 100%;

    color: rgb(220, 220, 220);
    font-family: fantasy;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.title {
    margin: 15px;
}

.grid_area {
    color: rgb(20, 20, 20);

    display: grid;
    gap: 4px;

    user-select: none;
}

.cell:hover {
    opacity: 0.8;
}

.closed-cell,
.number-cell,
.flag-cell,
.mine-cell {
    width: 100%;
    height: 100%;

    border-radius: 4px;
}

.closed-cell,
.flag-cell {
    background-color: #5F9EA0;
}

.number-cell {
    background-color: #F5F7DC;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(1vw + 3vh);
}

.mine-cell {
    background-color: crimson;
}

.flag-cell,
.mine-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-img {
    aspect-ratio: 1/1;
    width: 75%;
}

.bottom-control-div {
    /* width: var(--content-width); */
    display: flex;

    justify-content: space-around;
}

.mine-count {
    margin: 10px;
    font-size: larger;
    /* flex-grow: 1; */

}

.play-again-button {
    flex-grow: 0.5;

    padding: 0;
    margin: 8px;

    background-color: #416139;
    color: rgb(200, 200, 200);
    font-weight: bold;
    border-radius: 4px;
}

.game-result-text {
    margin: 10px;
    margin-top: 0px;
}